.newsletter--background
    background: #e9e9e9

.container-newsletter--padding
    padding: 40px 0

.newsletter__container
    padding: 8px
    background: white
    border-radius: 3px
    white-space: nowrap
    display: flex
    width: 85.5%
    margin-bottom: 0!important
    align-items: baseline

.newsletter__text
    display: none
.newsletter__form
    white-space: nowrap
    display: flex
    justify-content: space-between
    width: 93% !important
    margin: auto
    align-items: center

.fa-envelope
    color: $main-color
    background: white
    margin: 6px 0
    padding: 0 16px 0 3px
    position: relative
    left: 3px
    top: 2px
    border-right: 1px solid #b4b4b4

.newsletter__input
    background-color: transparent
    border: 0 solid
    padding-right: 117px
    color: #e0e0e0
    font-family: Poppins,sans-serif
    font-size: 14px
    font-weight: 500

.newsletter__button
    background: white
    border-radius: 3px
    padding: 10px 15px
    border: none

.fa-arrow-right
    color: $main-color
    position: relative
    top: 3px