@font-face
  font-family: 'Myriad Pro Regular'
  font-style: normal
  font-weight: normal
  src: local('Myriad Pro Regular'), url('.././fonts/MYRIADPRO-REGULAR.woff') format('woff')


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap')