<section class="navbar-container bg-secondary" data-name="navbar">
    <nav class="container navbar navbar-expand navbar-dark navbar--custom">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-3">
                <span class="navbar-text text-white navbar__item--font">USD</span>
            </li>
            <li class="nav-item mx-3">
                <span class="navbar-text text-white navbar__item--font">English</span>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link px-0 text-white navbar__item--font " href="#">
                    <span class="component--underline">Help</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white px-0 mr-3 navbar__item--font" data-toggle="modal"
                    data-target="#login-modal" href="#">
                    <i class="fas fa-user mr-1"></i>
                    <span class="component--underline">Login</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white px-0 ml-3 navbar__item--font" data-toggle="modal"
                    data-target="#register-modal" href="#">
                    <i class="fas fa-lock mr-1"></i>
                    <span class="component--underline">Register</span>
                </a>
            </li>
        </ul>
    </nav>
</section>