<section class="top-menu">
    <div class="d-flex justify-content-between container">
        <form class="top-menu-search-form" action="#" type="POST">
            <label class="top-menu__input-wrapper">
                <input class="top-menu__input" type="text" placeholder="Search products">
                <i class="fas fa-search icon-search"></i>
            </label>
        </form>
        <div class="top-menu-items">
            <a class="top-menu-items__btn" href="#">
                <span class="top-menu-items__btn--span1"></span>
                <span class="top-menu-items__btn--span2"></span>
                <span class="top-menu-items__btn--span3"></span>
            </a>
            <ul class="top-menu-items-list list-unstyled">
                <li class="top-menu-items__item">
                    <a class="top-menu-items__item-link" href="#navbar" data-name="navbar">
                        Home
                    </a>
                </li>
                <li class="top-menu-items__item">
                    <a class="top-menu-items__item-link" href="#top-slider" data-name="top-slider">
                        Slider
                    </a>
                </li>
                <li class="top-menu-items__item">
                    <a class="top-menu-items__item-link" href="#our-features" data-name="our-features">
                        Features
                    </a>
                </li>
                <li class="top-menu-items__item">
                    <a class="top-menu-items__item-link" href="#stocks" data-name="stocks">
                        Stocks
                    </a>
                </li>
                <li class="top-menu-items__item">
                    <a class="top-menu-items__item-link" href="#products" data-name="products">
                        Prodacts
                    </a>
                </li>
                <li class="top-menu-items__item">
                    <a class="top-menu-items__item-link" href="#gallery" data-name="gallery">
                        Gallery
                    </a>
                </li>
                <li class="top-menu-items__item">
                    <a class="top-menu-items__item-link" href="#blog" data-name="blog">
                        Blog
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>