<section class="our-features" data-name="our-features">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-xl-3 feature-col-custom">
                <div class="feature-wrapper">
                    <div class="feature-icon-wrapper">
                        <div class="feature-icon">
                            <i class="fas fa-truck feature-icon-awesome"></i>
                        </div>
                    </div>
                    <div class="feature-info">
                        <h3 class="feature-info-title">
                            Free shipping
                        </h3>
                        <p class="feature-info-desc">
                            All order
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 feature-col-custom">
                <div class="feature-wrapper">
                    <div class="feature-icon-wrapper">
                        <div class="feature-icon">
                            <i class="fas fa-headphones feature-icon-awesome"></i>
                        </div>
                    </div>
                    <div class="feature-info">
                        <h3 class="feature-info-title">
                            24/7 customer
                        </h3>
                        <p class="feature-info-desc">
                            Support
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 feature-col-custom">
                <div class="feature-wrapper">
                    <div class="feature-icon-wrapper">
                        <div class="feature-icon">
                            <i class="fas fa-reply-all feature-icon-awesome"></i>
                        </div>
                    </div>
                    <div class="feature-info">
                        <h3 class="feature-info-title">
                            Money back
                        </h3>
                        <p class="feature-info-desc">
                            Guarantee
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 feature-col-custom">
                <div class="feature-wrapper">
                    <div class="feature-icon-wrapper">
                        <div class="feature-icon">
                            <i class="fas fa-bullhorn feature-icon-awesome"></i>
                        </div>
                    </div>
                    <div class="feature-info">
                        <h3 class="feature-info-title">
                            Member discount
                        </h3>
                        <p class="feature-info-desc">
                            First order
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>