<section class="galery-container container" data-name="gallery">
    <div class="row">
        <div class="gallery col-xl-6">
            <h2 class="gallery-title">
                Furniture gallery
            </h2>
            <div class="gallery-tabs">
                <ul class="gallery-tabs-list">
                    <li class="gallery-tabs-title active">Featured</li>
                    <li class="gallery-tabs-title">Top seller</li>
                    <li class="gallery-tabs-title">Sale off</li>
                    <li class="gallery-tabs-title">Top rated</li>
                </ul>
                <div class="gallery-tabs-content">
                    <div class="gallery-tab-help-wrapper">
                        <div class="gallery-tab-icons">
                            <div class="gallery-tab-icon" data-toggle="tooltip" data-placement="right"
                                title="Add to wishlist">
                                <i class="far fa-heart"></i>
                            </div>
                            <div class="gallery-tab-icon" data-toggle="tooltip" data-placement="right"
                                title="Quick view">
                                <i class="far fa-eye"></i>
                            </div>
                            <div class="gallery-tab-icon cart-add-btn" data-toggle="tooltip" data-placement="right"
                                title="Add to cart">
                                <i class="fas fa-shopping-basket"></i>
                            </div>
                        </div>
                        <div class="gallery-tab-info">
                            <img src="" alt="" class="gallery-tab-big-img">
                            <div class="gallery-tab-text-wrapper">
                                <h4 class="gallery-tab-text-title"></h4>
                                <div class="gallery-tab-text-stars">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <div class="gallery-tab-price">
                                    <p class="gallery-tab-text-price"></p>
                                    <p class="gallery-tab-text-old-price"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-tab-slider">
                        <button class="gallery-tab-previous-btn gallery-tab-slider-btn">&lt;</button>
                        <div class="gallery-tab active">
                            <div class="gallery-tab-img-wrapper focus">
                                <img src="img/08_gallery/10.png" id="Item-001" alt="" class="gallery-tab-img"
                                    data-title="Fairfield Love Chair" data-price="$240.00" 
                                    data-old-price="$270.00" data-stars="3">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/11.png" id="Item-002" alt="" class="gallery-tab-img"
                                    data-title="Helena Rise Chair" data-price="$319.00" 
                                    data-old-price="$400.00" data-stars="5">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/12.png" id="Item-003" alt="" class="gallery-tab-img" 
                                    data-title="Vivo Chair" data-price="$199.00" 
                                    data-old-price="" data-stars="4">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/13.png" id="Item-004" alt="" class="gallery-tab-img"
                                    data-title="Dalmore Chair" data-price="$219.00"
                                    data-old-price="$279.00" data-stars="5">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/20.png" id="Item-005" alt="" class="gallery-tab-img"
                                    data-title="Velmont Chair" data-price="$179.00"
                                    data-old-price="" data-stars="3">
                            </div>
                        </div>
                        <div class="gallery-tab">
                            <div class="gallery-tab-img-wrapper focus">
                                <img src="img/08_gallery/19.png" id="Item-006" alt="" class="gallery-tab-img"
                                    data-title="Lambeth Chair" data-price="$220.00"
                                    data-old-price="$250.00" data-stars="2">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/15.png" id="Item-007" alt="" class="gallery-tab-img"
                                    data-title="Florida Rancho Chair" data-price="$349.00" 
                                    data-old-price="" data-stars="5">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/16.png" id="Item-008" alt="" class="gallery-tab-img"
                                    data-title="Soho Armchair" data-price="$109.00"
                                    data-old-price="" data-stars="3">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/17.png" id="Item-009" alt="" class="gallery-tab-img"
                                    data-title="Shelby Chair" data-price="$149.00"
                                    data-old-price="$230.00" data-stars="4">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/18.png" id="Item-010" alt="" class="gallery-tab-img"
                                    data-title="Zara Armchair" data-price="$179.00"
                                    data-old-price="$240.00" data-stars="3">
                            </div>
                        </div>
                        <div class="gallery-tab">
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/10.png" id="Item-011" alt="" class="gallery-tab-img"
                                    data-title="Venice Swivel Chair" data-price="$269.00"
                                    data-old-price="$369.00" data-stars="3">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/11.png" id="Item-012" alt="" class="gallery-tab-img"
                                    data-title="Madison Velvet Chair" data-price="$239.00"
                                    data-old-price="$339.00" data-stars="4">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/12.png" id="Item-013" alt="" class="gallery-tab-img"
                                    data-title="Brigette Accent Chair" data-price="$249.00"
                                    data-old-price="$349.00" data-stars="5">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/13.png" id="Item-014" alt="" class="gallery-tab-img"
                                    data-title="Dual Motor Chair" data-price="$399.00"
                                    data-old-price="$599.00" data-stars="5">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/18.png" id="Item-015" alt="" class="gallery-tab-img"
                                    data-title="Bronte Armchair" data-price="$299.00"
                                    data-old-price="$499.00" data-stars="3">
                            </div>
                        </div>
                        <div class="gallery-tab">
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/10.png" id="Item-016" alt="" class="gallery-tab-img"
                                    data-title="Fairfield Love Chair" data-price="$240.00"
                                    data-old-price="" data-stars="3">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/11.png" id="Item-017" alt="" class="gallery-tab-img"
                                    data-title="Helena Rise Chair" data-price="$319.00"
                                    data-old-price="$370.00" data-stars="5">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/12.png" id="Item-018" alt="" class="gallery-tab-img" 
                                data-title="Vivo Chair" data-price="$199.00"
                                data-old-price="$299.00" data-stars="4">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/13.png" id="Item-019" alt="" class="gallery-tab-img"
                                    data-title="Dalmore Chair" data-price="$219.00"
                                    data-old-price="" data-stars="5">
                            </div>
                            <div class="gallery-tab-img-wrapper">
                                <img src="img/08_gallery/13.png" id="Item-020" alt="" class="gallery-tab-img"
                                    data-title="Velmont Chair" data-price="$179.00"
                                    data-old-price="$260.00" data-stars="3">
                            </div>
                        </div>
                        <button class="gallery-tab-next-btn gallery-tab-slider-btn">&gt;</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-banner col-xl-6">
            <div class="gallery-banner-info">
                <p class="gallery-banner-info-price">
                    from <span>$50.80</span>
                </p>
                <h3 class="gallery-banner-info-title">
                    Bedroom Bed
                </h3>
                <button class="gallery-banner-info-btn">
                    Shop now
                </button>
            </div>
            <div class="gallery-banner-img-wrapper">
                <img class="gallery-banner-img" src="img/08_gallery/banner.png" alt="">
            </div>
        </div>
    </div>
</section>