<section class="newsletter--background text-center mt-4">
    <div class="container container-newsletter--padding">
        <form action="#" method="Post" class="newsletter__form">
            <div class="newsletter__text">newsletter:</div>
            <label class="newsletter__container">
                <i class="fas fa-envelope"></i>
                <input type="text" name="text" class="newsletter__input" placeholder="      Enter your email address">
            </label>
            <button type="button" class="newsletter__button"><i class="fas fa-arrow-right"></i></button>
        </form>
    </div>
</section>