<section class="bg-dark  py-4">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 mt-3">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <a href="#no" class="text-white text-uppercase footer__title--font position-relative footer__title--pos">information</a>
                        <ul class=" text-left list-unstyled footer__item--font ">
                            <li><a href="#no" class="text-secondary">About us</a></li>
                            <li><a href="#no" class="text-secondary">Privacy</a></li>
                            <li><a href="#no" class="text-secondary">Conditions</a></li>
                            <li><a href="#no" class="text-secondary">Online support</a></li>
                        </ul>
                    </div>
                    <div class="col-2"></div>
                </div>

            </div>
            <div class="col-6 col-lg-3 mt-3">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <a href="#no" class="text-white text-uppercase text-nowrap footer__title--font position-relative footer__title--pos">my account</a>
                        <ul class=" text-left list-unstyled footer__item--font">
                            <li><a href="#no" class="text-secondary">Login</a></li>
                            <li><a href="#no" class="text-secondary">My Cart</a></li>
                            <li><a href="#no" class="text-secondary">Wishlist</a></li>
                            <li><a href="#no" class="text-secondary">Checkout</a></li>
                        </ul>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mt-3">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <a href="#no" class="text-white text-uppercase footer__title--font position-relative footer__title--pos">information</a>
                        <ul class=" text-left list-unstyled footer__item--font">
                            <li><a href="#no" class="text-secondary">Specials</a></li>
                            <li><a href="#no" class="text-secondary">New Products</a></li>
                            <li><a href="#no" class="text-secondary">Best Sellers</a></li>
                            <li><a href="#no" class="text-secondary">Our Stores</a></li>
                        </ul>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mt-3">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <a href="#no" class="text-white text-uppercase footer__title--font position-relative footer__title--pos">orders</a>
                        <ul class=" text-left list-unstyled footer__item--font">
                            <li><a href="#no" class="text-secondary">Payment options</a></li>
                            <li><a href="#no" class="text-secondary">Shipping and delivery</a></li>
                            <li><a href="#no" class="text-secondary">Returns</a></li>
                            <li><a href="#no" class="text-secondary">Shipping</a></li>
                        </ul>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10 col-lg-12 lg-position-relative cards--pos">
                        <img src="./img/11_footer/visa.png" alt="" class="pr-1 pb-3">
                        <img src="./img/11_footer/master-card.png" alt="" class="pr-1 pb-3">
                        <img src="./img/11_footer/dacover.png" alt="" class="pr-1 pb-3">
                        <img src="./img/11_footer/blue-card.png" alt="" class="pr-1 pb-3">
                        <img src="./img/11_footer/paypal.png" alt="" class="pr-1 pb-3">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>