.furniture__heading
    border-bottom: 1px solid $text-color

.furniture__heading-text
    color: $text-color
    font-family: "Poppins - Semi Bold", sans-serif
    font-size: 22px
    font-weight: 400
    text-transform: uppercase



.furniture__image-wrapper
    width: 262px
    height: 260px
    background: #f4f5f7

.furniture__line
    background: #2a2a2a
    width: 240px
    height: 1px

.furniture__item-options-wrapper
    width: 240px

.furniture__interact-item
    border: 1px solid #f4f5f7

.orange-line
    background: $main-color
    height: 4px
    width: 30px
    bottom: 2px

.furniture__like
    border: 1px solid #2a2a2a
    background: white

.furniture__exchange
    border: 1px solid #2a2a2a

.crossed-text
    text-decoration: line-through

.furniture__price
    font-family: "Poppins - Semi Bold", sans-serif
    font-size: 18px

.btn-load-more
    padding: 15px
    border-radius: 100%
    box-shadow: 0 4px 6px rgba(1, 2, 2, 0.2)
    background-color: #eeeeee
    color: $text-color
    outline: none !important

.overlay
    display: none
    top: 0
    left: 0

.furniture__image-wrapper:hover .overlay
    display: flex

.furniture__image-wrapper:hover + .furniture__interact-item .furniture__name
    color: $main-color

.furniture__price
    background: #2a2a2a
.furniture__image-wrapper:hover + .furniture__interact-item  .furniture__item-options-wrapper .furniture__price
    background: $main-color

.overlay-top
    display: inline-block
    margin: 0 1em 1em 0
    background-color: black
    height: 15px
    width: 30px
    border-bottom-left-radius: 30px
    border-bottom-right-radius: 30px
    font-size: 10px


.furniture__add-to-cart
    font-size: 13px
    background: black
    font-family: "Poppins - Semi Bold", sans-serif
    border: none
    outline: none !important

.furniture__view-item
    font-size: 13px
    background: black
    font-family: "Poppins - Semi Bold", sans-serif
    border: none
    outline: none!important

.filter__icon
    border: 1px solid #676767
    outline: none!important
    background: white
.filter__heading
    color: $text-color
    font-family: "Poppins - Semi Bold", sans-serif
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
.filter__heading:not(:first-child)
    margin-top: 30px

.filter__heading::after
    content: " "
    display: inline-block
    border-bottom: 1px solid $text-color
    width: 100%
    position: relative
    bottom: 15px

.filter__category
    font-size: 13px
    color: $text-color

.filter__category:hover
    color: $main-color

.filter__circle
    padding: 12px
    border-radius: 100%
    background: $text-color
//
.filter__category:hover  .filter__circle
    background: $main-color

.filter__category:hover .checkmarkS
    background: $main-color

.filter__category:hover  .c-ch input ~ .checkmark:after
    display: block

.filter__circle:hover
    background: $main-color

.filter__index
    top: 2px
    left: 8.5px
    color: white
    font-size: 13px

.filter__circle:hover .filter__index
    color: white



.slider-range
    margin-left: 7px!important

.ui-slider-range
    background-color: #2a2a2a

.ui-slider-handle
    border-radius: 100%
    background: white
    border: 3px solid $main-color!important
    outline: none

.button-filter
    padding: 5px 15px
    border: 1px solid $text-color
    background-color: white
    text-transform: uppercase
    font-family: "Poppins - Semi Bold", sans-serif
    color: $text-color
    font-size: 14px
    font-weight: 500


.button-filter:hover
    background-color: $main-color
    color: white
    border: 1px solid $main-color

.amount
    border: 1px solid $text-color
    width: 120px
    padding: 5px 15px
    margin-top: 20px
    margin-bottom: 20px
    color: $text-color
    font-size: 14px
    font-weight: 500

//checkboxes:

/* The container */
.c-ch
    display: block
    position: relative
    padding-left: 35px
    margin-bottom: 12px
    cursor: pointer
    font-size: 22px
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none


/* Hide the browser's default checkbox */
.c-ch input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0


/* Create a custom checkbox */
.checkmark
    position: absolute
    top: 0
    left: 0
    height: 25px
    width: 25px
    border-radius: 2px
    transform: scale(0.5)
.checkmark1
    background-color: red
.checkmark2
    background-color: black
.checkmark3
    background-color: yellow
.checkmark4
    background-color: blue
.checkmark5
    background-color: pink
.checkmark6
    background-color: green

.checkmarkS
    background-color: white
    border: 1px solid $text-color


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmarkS
   background-color: $main-color
   border: none

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after
    content: ""
    position: absolute
    display: none

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after
    content: ""
    position: absolute
    display: none

/* Show the checkmark when checked */
.c-ch input:checked ~ .checkmark:after
    display: block

/* Style the checkmark/indicator */
.container .checkmark:after
    left: 9px
    top: 5px
    width: 5px
    height: 10px
    border: solid white
    border-width: 0 3px 3px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: scale(1.5) rotate(45deg)

.checkbox-text
    font-size: 13px
    font-family: Poppins, sans-serif
    position: relative
    bottom: 6px
    right: 3px

.orange-text
    color: $main-color!important

.orange-back
    background: $main-color!important


.styled-checkbox
    position: absolute // take it out of document flow
    opacity: 0 // hide it
    border: 1px solid $text-color

    & + label
        position: relative
        cursor: pointer
        //padding: 0


    // Box.
    & + label:before
        content: ''
        margin-right: 10px
        display: inline-block
        vertical-align: text-top
        width: 20px
        height: 20px
        background: white
        transform: scale(0.7)
        border-radius: 3px
        border: 1px solid $text-color


    // Box focus
    &:focus + label:before
        border: 1px solid $text-color
    // Box checked
    &:checked + label:before
        background: $main-color
        border: none

    // Disabled state label.
    &:disabled + label
        color: #b8b8b8
        cursor: auto

    // Disabled box.
    &:disabled + label:before
        box-shadow: none
        background: #ddd

    // Checkmark. Could be replaced with an image
    &:checked + label:after
        content: ''
        position: absolute
        left: 5px
        top: 12px
        background: white
        width: 2px
        height: 2px
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,4px -4px 0 white, 4px -6px 0 white,4px -8px 0 white
        transform: rotate(45deg) scale(0.9)
.ch-text span
    position: relative
    top: 3px
.styled-checkbox:checked + .ch-text span
    color: $main-color!important

.styled-checkbox:checked + .ch-text + .filter__circle
    background: $main-color!important

.filter__tag
    border: 1px solid #959595
    color: #959595
    font-family: "Font Awesome",sans-serif

.filter__tag:hover
    border: 1px solid $main-color
    color: $main-color

.orange-border
    border: 1px solid $main-color

.filter-modal__close-mix
    top: 0!important