.copyright--bg
    background: #2a2a2a

.copyright__text--align
    @media (max-width: 767px)
        text-align: center
.copyright__icons--align
    @media (max-width: 767px)
        text-align: center
    text-align: right
.fab:hover
    color: $main-color