@media (min-width: 1200px)

    .gallery

        &-banner
            display: inline-block
            max-width: 540px
            height: 621px
            margin: 75px 0px 0px 15px
            padding: 75px 0px 0px 0px
            background-color: #e8edf7

            &-info
                padding-left: 60px
                font-weight: 700
                text-transform: uppercase

                &-price
                    margin-bottom: 30px
                    font-size: 13px

                    & span
                        font-size: 36px
                        color: #79ae30

                &-title
                    margin-bottom: 35px
                    font-size: 36px
                    font-weight: 700
                    color: $main-color

                &-btn
                    padding: 20px 30px
                    border: none
                    border-radius: 3px
                    font-size: 14px
                    font-weight: 700
                    text-transform: uppercase
                    color: #fff
                    background: #79ae30

            &-img-wrapper
                padding: 30px 0px 0px 40px

            &-img
                width: 450px
