@media (min-width: 768px)
    
    .gallery-tab-help-wrapper
        position: relative
        justify-content: flex-start
    
    .gallery-tab-info
        width: 350px
        text-align: center
    
    .gallery-tab-big-img
        height: 410px

    .gallery-tab-text-wrapper
        position: absolute
        right: 0px
        bottom: 32px
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,.5)

    .gallery-tab-price
        top: -93px
        left: 75px